/* CSS styles for the plugin. */

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/*
 * STYLES USED IN OPTIONS AND METABOXES
 */

/* surrounds some images in the UI */
.plse-upload-img-box {
    margin: 6px;
    border: 1px solid black;
    border-radius: 4px;
}

.plse-upload-img-video-box {
    line-height:0;
    font-size:0;
}

/*
 * STYLES USED IN PLUGIN OPTIONS PAGE
 */

/* the header with the title and logo */
.plse-options-row {
    display: table;
    border-spacing: 5pt;
}

/* a column in the row */
.plse-options-col {
    display: table-cell;
}

/* alignment of inline elements */
.plse-options-valign {
    text-align: left;
    align-items: left;
    vertical-align: middle; 
}

/* h2 style */
.plse-options-h2 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom:0.6em;
}

/* paragraphs within a colum */
.plse-options-col p {
  margin-top:0;
  border-radius: 4px;
  padding:0.7em;
  background-color: #f9f9f9;
}

/* errors on input fields */
.plse-input-err-msg {
    padding: 6px;
    margin-left: 6px;
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    background-color:rgb(255, 0, 0)
}

/*
 * BOX WITH OPTIONS
 */

/* the box inside the tabs */
.plse-panel-box {
    margin: 1em;
    padding: 1em;
    border: 1px solid #aaa;
    border-radius: 6px;
    background-color:#ddd;
}

/* h2 title inside box built by Settings API on plugin options page */
.plse-panel-box h2 {
    color: #333;
}

/* wraps complex fields, like the upload image box */
.plse-option-wrapper {
    width: 100%;
}

/* text-like field (text, email, postal) */
.plse-option-input {
    display: block;
}

/* formatting text <label> next to field */
.plse-option-description {
    display: inline-block;
    margin-left: 4px;
    border-radius: 6px 6px 0 0;
    padding: 2px 4px 0 4px;
    background-color: #efefef;
}

/* formats multi-select scrollboxes */
.plse-option-select {
    width: 100%;
}

.plse-option-select-description {
    display:inline-block;
    padding: 2px 4px 2px 2px;
    border-radius: 0 6px 6px 0;
    background-color: #eee;
}

.plse-option-select-dropdown {
    display:inline-block;
}

.plse-options-datalist {
    height: 50px;
    display: flex;
    align-items: center
}

.plse-options-datalist p {
    margin-left:6px;
}

/*
 * META FIELDS
 */

/* metabox container, similar to Yoast */
.plse-meta-container {
    max-width: 600px;
    width: 100%;
    min-height: 100%;
    height: auto;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,.2);
}

.plse-meta-message {
    margin: 5px;
    background-color: rgba(255, 240, 103, 0.2)
}

.plse-meta-list li {
    list-style-type: none!important; /* Remove bullets */
    margin: 5px;
    border-radius: 2px;
    background-color: #efefef;
    padding: 8px 4px 8px 4px;
}

.plse-meta-list label {
    display:block;
}

.plse-meta-image-col {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
}

.plse-meta-upload-col {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* 
 * tab navigation system
 *
 * Adapted from jQuery tabs and accordion
 * Copyright (c) 2021 by Paolo Duzioni (https://codepen.io/Paolo-Duzioni/pen/MaXPXJ)
 */
.content-tab p {
    padding: 1em;
}

.plse-tab-nav {
    margin-left: 1rem;
}
.plse-tab-nav ul {
    margin: 0;
    padding: 0;
}
.plse-tab-nav ul li {
    float: left;
    list-style: none;
    margin-bottom:0; /* override default WP admin menu stylng */
}
  .plse-tab-nav ul li a {
    display: block;
    position: relative;
    margin-right: -1rem;
    padding: 0.3rem 4rem;
    text-decoration: none !important;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: none;
    outline: none;
  }
  .plse-tab-nav ul li a.open {
    z-index: 9;
  }
  .plse-tab-nav ul li a:hover {
    z-index: 10;
    color: #fff;
  }

  /* rotates the chevron icon */
  .plse-tab-nav ul li a::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    transform: perspective(0.5em) rotatex(3deg) scaleY(1.3);
    transform-origin: bottom;
    transition: background 0.4s;
}

  /* tab colors on hover */
  .plse-tab-nav ul li a:hover.tab1::before {
    background: #3e3e3e;
  }
  .plse-tab-nav ul li a:hover.tab2::before {
    background: rgb(197, 134, 18);
  }
  .plse-tab-nav ul li a:hover.tab3::before {
    background: rgb(0, 93, 0);
  }
  .plse-tab-nav ul li a:hover.tab4::before {
    background: #55416d;
  }
  .plse-tab-nav ul li a:hover.tab5::before {
    background: #435e2d;
  }
  .plse-tab-nav ul li a:hover.tab6::before {
    background: #3b0334;
  }
  .plse-tab-nav ul li a:hover.tab7::before {
    background: #3b3f09;
  }

/* tab colors on open */
.plse-tab-nav ul li a.tab1.open::before {
    background: gray;
}
.plse-tab-nav ul li a.tab2.open::before {
    background: orange;
}
.plse-tab-nav ul li a.tab3.open::before {
    background: green;
}
.plse-tab-nav ul li a.tab4.open::before {
    background: purple;
}
.plse-tab-nav ul li a.tab5.open::before {
    background: #6e9b4a;
}
.plse-tab-nav ul li a.tab6.open::before {
    background: #a0098c;
}
.plse-tab-nav ul li a.tab7.open::before {
    background: rgb(70, 69, 5);
}

/* panels activated by tab selection */
#content-tabs {
    clear: both;
    min-height: 100px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 6px #aaa;
}

#content-tabs .content-tab.open {
    display: block;
}

/* 
 * hard-code display: none in the HTML on the first tab, second accordion 
 * in order to prevent FOUC
 */
 #content-tabs .content-tab {
    display: none;
}

/* 
 * the fadein here of content under tabs mostly fixes jquery accordion FOUC
 */
.accordion {
    animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* accordion header */
#content-tabs .ui-accordion-header {
    /*
    margin: 0.1em;
    padding: 0.5em;
    background-color: #ddd;
    */
}

#content-tabs .accordion h3 {
    font-size: 1.2em;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

/* arrow on an accordion tab */
#content-tabs .accordion .fa {
    margin-right: 1rem;
    font-size: 0.8em;
}

/* disable or enable input in the indivdiual tab panels */
.plse-panel-mask {
    position: relative;
}

/* video */
.plse-auto-resizable-iframe iframe {
    width: 180px; /* 227px; */
    height: 102px; /* 128px; */
}
